@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/*HEADER*/
.header{
  box-shadow: 0px 1px 25px #666;
  position: relative;
  z-index: 10;
}
/*productos-index*/
.contenedor-producto{
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-title{
  width: 100%;
  height: 60px;
}

/*detalles productos*/
.detallesProducto{
  margin-top: 25px;
  margin-bottom: 40px
}


/*mensajes*/
.foto-matches{
  width: 100%;
}
.foto-productos{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

#fotochat{ max-width:100%;}

#loginform{
  margin-bottom: 10%;
  -webkit-box-shadow: 19px 10px 26px -8px rgba(15,2,15,1);
  -moz-box-shadow: 19px 10px 26px -8px rgba(15,2,15,1);
  box-shadow: 19px 10px 26px -8px rgba(15,2,15,1);
}

#create-user{
  margin-bottom: 5%;
}

.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; 
}

.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 100%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;
margin-top: 300px;
}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}

.msg_history {
  padding-top: 50px;
  /*height: 1000px;*/
  overflow-y: auto;
}

#colProduct{
  background-color: antiquewhite;
  
}

.row2{
  background-color: #ef4a22;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.precioProduct{
  display: flex;
  flex-wrap: wrap;
  float: left;
}

.col-12 button {
  margin-top: 1.5%;
}

.btn-danger{
  margin-right: 0px;
}

.botones{
  display: flex;
  justify-content: space-between;
}

.container2{

  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
  width: 100%;
}

.general{
  padding-right: 15px;
}

#colswap{
  background-color:whitesmoke;
  border-right: lightgray solid 1px
}
.login-title{
  text-align: center;
  background-color: grey;
}
.fondo{
  background-image: url("../images/logo-completo.png");
}
#log{
  padding-left:30%;
  padding-right: 30%;
}

#log2{
  padding: 30px;
}

#mainfot{
  margin-top: 0px;
 

}
#fotofooter{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto

}

.status {
  margin-right: 1.5%;
  margin-left: 1.5%;
}
.main-footer{
background-color:#ef4a22;
opacity: 80%;
width:100%
/*display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;*/

}
#sobre{
  margin-left: 60px;
}
#contacto{
  margin-top: 15px;
}
#mailfooter{
align-self: center;
display: block;
margin-left: auto;
margin-right: auto;
font-size: 15px;

  
}
.navbar-nav{
    margin-left: auto;
}

#navBarSearchForm input[type=text]{width:280px !important;}

#noticon{
margin-left: 0px;
}

img{
    width: 10%;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 36px;
  font-size: 24px;
  
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
  
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  top: 3px;
  line-height: 12px;
  
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  top: -10px;
  
}
.container-fluid-sider{
  width: 20%;
  /*height: 937px;*/
  background-color: antiquewhite;
  display: block;
}

/* CREADO POR MILTON */
.carrousel{
  display: flex;
  justify-content: center;
}
.list-group{
  margin-top: 10%;
  width: 93%;
}

.flotar{
  display: flex;
  float: left;
  justify-content: left;
  margin-bottom: 10px;
}

.map  {
  margin-left: 10px;
  margin-top: 18px;
  
  
}
.map2{
  width: 100%;
  
}

.buttons {
  display: flex;
  align-items: center;
}

.formularios{
  float: left;
}

.formularioProduct{
  margin-top: 3%;
}
.form-group {
  width: 45%;
}
.precioProduct{
  display: flex;
  float: left;
}
.cargaFoto figure img{
  width: 40%;
}

.my-4{ 
  text-align: center;
}

/* CREADO POR MILTON */

.swapp{
  font-size: 25px;
  text-decoration: underline orange;
  text-align: center;
}

.foto-carga{
  width: 50%;
}
#matches{
  display: block;
  padding: 2%;
}
#Columna-matches{
  display: flex;
  flex-wrap:wrap;
}
.product-box{
  border: black solid 1px;
  border-radius: 5px;
  margin-top: 15px;
}
.product-box_data{
  color: black;
  text-align: center;
  top: 10px
}
#Columna-swapp{
  width: 100%;
  padding-right: 0;
}

/*register*/
.fondo{
  background-color: antiquewhite;
}

.products-wrapper{
  margin-top: 20px;
}
.formulario{
  background-color: white;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  border: 2px solid lightgrey ;
  
}
.form-label{
  display: inline-block;
  margin: 10px
}

.form-input{
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  border-radius: 6px;
  border: solid 1px gray;
  height: 40px;
  width: 100%;
}

@media (max-width: 768px) {
.product-box_data{
  display: none;
}
#fotofooter{
  width: 100%;
}
}
@media (min-width: 360px) {

    #navBarSearchForm input[type=text]{width:150px !important;}

    img{
        width: 20%;
    }
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
  
}
@media (min-width: 576px) {


    img{
        width: 15%;
    }
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}


@media (min-width: 768px) {

    img{
        width: 10%;
    }

    #navBarSearchForm input[type=text]{width:300px !important;}

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

#Columna-matches{
  display: flex;
  flex-wrap:wrap
}


@media (min-width: 992px) {

    img{
        width: 10%;
    }
    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
      }
    
      .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
      }
    
      .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
        top: -7px;
      }
    }

@media (min-width: 1200px) {

    img{
        width: 5%;
    }

    #navBarSearchForm input[type=text]{width:400px !important;}

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}
