@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.login-title{
  text-align: center
}
  
#log{
  padding-left:30%;
  padding-right: 30%;
}

#log2{
  padding: 30px;
}



#mainfot{
  margin-top: 290px;
}
#fotofooter{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto

}

.main-footer{
background-color: #ef4a22;
opacity: 80%;
/*display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;*/

}

#mailfooter{
align-self: center;
display: block;
margin-left: auto;
margin-right: auto

  
}
.navbar-nav{
    margin-left: auto;
}

#navBarSearchForm input[type=text]{width:280px !important;}

#noticon{
margin-left: 0px;
}

img{
    width: 10%;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 36px;
  font-size: 24px;
  
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
  
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  top: 3px;
  line-height: 12px;
  
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  top: -10px;
  
}
.container-fluid-sider{
  width: 20%;
  /*height: 937px;*/
  background-color: antiquewhite;
  display: block;
}


  

.swapp{
  font-size: 25px;
  text-decoration: underline orange;
  text-align: center;
}

.foto-matches{
  width: 100%;
}
#matches{
  display: block;
  padding: 2%;
}
#Columna-matches{
  display: flex;
  flex-wrap:wrap;
}
.product-box{
  border: black solid 1px;
  border-radius: 5px;
  margin-top: 15px;
}
.product-box_data{
  color: black;
  text-align: center;
  top: 10px
}
#Columna-swapp{
  width: 100%;
  padding-right: 0;
}

/*register*/
.fondo{
  background-color: antiquewhite;
}

.products-wrapper{
  margin-top: 20px;
}
.formulario{
  background-color: white;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  border: 2px solid lightgrey ;
  
}
.form-label{
  display: inline-block;
  margin: 10px
}

.form-input{
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  border-radius: 6px;
  border: solid 1px gray;
  height: 40px;
  width: 100%;
}
@media (min-width: 360px) {

    #navBarSearchForm input[type=text]{width:150px !important;}

    img{
        width: 20%;
    }
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
  
}
@media (min-width: 576px) {


    img{
        width: 15%;
    }
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}


@media (min-width: 768px) {

    img{
        width: 10%;
    }

    #navBarSearchForm input[type=text]{width:300px !important;}

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

#Columna-matches{
  display: flex;
  flex-wrap:wrap
}


@media (min-width: 992px) {

    img{
        width: 10%;
    }
    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
      }
    
      .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
      }
    
      .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
        top: -7px;
      }
    }

@media (min-width: 1200px) {

    img{
        width: 5%;
    }

    #navBarSearchForm input[type=text]{width:400px !important;}

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}
