<!-- ---------------FOOTER------------------- -->

<footer class="main-footer" id="mainfot">
    <div class="container">
      <div class="row2">
        <div class="col-lg-1 col-0" ></div>
        <div class="col-lg-3 col-6" >
          <article class="footer-data" id="contacto">
            <i class="fa fa-envelope-open" aria-hidden="true" id="sobre"></i>
            <h2>Contacto</h2>
            <p>Swapper@swapswap.com</p>	
          </article>
        </div>
        
        <div class="col-lg-5 col-5">
          <article class="footer-data" >
            <img src="/images/Logo-completo.png" id="fotofooter">  
          </article>
        </div>

        <div class="col-lg-3 col-6" >
          <article class="footer-data" id="contacto">
            <p>Terminos y condiciones</p>	
            <p>Politicas de privacidad</p>
            <p>ayuda</p>
          </article>
        </div>

       
        </div>
      </div>
    </div>
    </footer>

<!-- ---------------FOOTER------------------- -->