<!-- ---------------FOOTER------------------- -->
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

  <div style="background-color: #ef4b22a9;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center" >

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a href = 'https://www.facebook.com/Swapper-104271371360725/'class="fb-ic">
            <i class="fa fa-facebook"> </i>
          </a>
          <a class="fb-ic">
            
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fa fa-twitter"> </i>
          </a>
          <a class="fb-ic">
            
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fa fa-linkedin"> </i>
          </a>
          <a class="fb-ic">
            
          </a>
          <!--Instagram-->
          <a href='https://www.instagram.com/e.swapper/?hl=es-la' class="ins-ic">
            <i class="fa fa-instagram"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-5 col-lg-6 col-xl-5 mx-auto mb-4" >

        <!-- Content -->
        <!--<h6 class="text-uppercase font-weight-bold"></h6>-->
        
        <img src="/images/logo-completo-nar.png" style="width: 100%;">

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      

       
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Your Account</a>
        </p>
        
        <p>
          <a href="#!">Your Swaps</a>
        </p>
        <p>
          <a href="#!">Your Products</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fa fa-home"></i> Buenos aires</p>
        <p>
          <i class="fa fa-envelope"></i> Swapper@swapswap.com</p>
        <p>
          <i class="fa fa-phone"></i> + 01 234 567 88</p>
        <p>
          

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href=> Swapper.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->


<!-- ---------------FOOTER------------------- -->