  <!-- ------------HEADER------------- -->
  <header>
    <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark header"style="background-color: #ef4a22;">
      
      <img src="/images/Logo.png" id="logoSwap">
  
        <form class="form-inline my-2 my-lg-0" id="navBarSearchForm">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" style="border-color:white; lighting-color: violet; "type="submit">Search</button>
        </form>
            <a class="nav-link" href="#">
              <i class="fa fa-bell">
                <span class="badge badge-info">11</span>
              </i>
            </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">
              <i class='fa fa-user-circle'></i>
              Perfil
              <span class="sr-only">(current)</span>
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-envelope-o">
                <span class="badge badge-danger">5</span>
              </i>
              Mensajes
            </a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-tags" aria-hidden="true"></i>
              Categoria
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Electronica
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Home</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Indumentaria</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    </header>
  
    <!-- ------------HEADER------------- -->