  <!-- ------------HEADER------------- -->
  <header>

  
  

    <div class="row" style="background-color: #ef4a22;box-shadow: inset 0px -5px 4px 0px white;height: 80px;width: auto;margin-right: auto;">
      
        <div class=".hidden col-lg-1 col-sm-2 d-none d-sm-block d-mg-block d-lg-block" style="height: 80px;">
         <a href="/products"><img src="/images/Logo.png" style="max-height: 80px;width: auto ;margin-left: 10px; padding: 0;"></a>
        </div>
        <div class=".hidden-sm col-lg-2 d-none d-mg-block d-lg-block">
          
        </div>
  
          <div class="col-lg-6 col-6 col-sm-6" style="margin-bottom: auto;margin-top: auto;">
            <form class="form-inline d-flex justify-content-center md-form form-sm"> 
              <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
                aria-label="Search" >
              <i class="fa fa-search" aria-hidden="true" style="color: white;"></i>
            </form>
          </div>
  
          <div class="col-lg-3 col-6 col-sm-4 d-flex flex-row-reverse" style="">
            <div class="row">
  
              <a class="nav-link" href="#" style="margin-top: auto;
              margin-bottom: auto;">
              <span class="badge badge-info" style="margin-top: 4px;margin-left: -2px;background-color:  #ef4a22;">11</span>
                <i class="fa fa-bell" style="color: white;"><br>
                  
                </i>
              </a>
  
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" style="margin-top: auto;margin-bottom: auto;margin-left: 0px;margin-right: 0px;padding: 0px;width: 70px;">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle z-depth-0"
                  alt="avatar image" style="max-width: 50px;width: auto;">
              </a>
              <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                aria-labelledby="navbarDropdownMenuLink-55">
                <a class="dropdown-item" href="#">Perfil</a>
                <a class="dropdown-item" href="#">Mis Productos</a>
                <a class="dropdown-item" href="/logout">LogOut</a>
              </div>
            
            
  
          </div>
        </div>
  
        
  
    </div>
  
  
  </header>
  
  <!--<header>
    <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark header"style="background-color: #ef4a22;">
      
      <img src="/images/Logo.png" id="logoSwap" >
    
        <form class="form-inline my-2 my-lg-0" id="navBarSearchForm">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <a href="#">
            <i class="fa fa-search fa-2x" aria-hidden="true" style="color:#ffffff;"></i> <br></a>
        </form>
            <a class="nav-link" href="#">
              <i class="fa fa-bell">
                <span class="badge badge-info">11</span>
              </i>
            </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">
              <i class='fa fa-user-circle'></i>
              Perfil
              <span class="sr-only">(current)</span>
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-envelope-o">
                <span class="badge badge-danger">5</span>
              </i>
              Mensajes
            </a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-tags" aria-hidden="true"></i>
              Categoria
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Electronica
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Home</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Indumentaria</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    </header>-->
  
    <!-- ------------HEADER------------- -->