<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracion</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
    crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body class="fondo">
    <header>
        <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark "style="background-color: #ef4a22;">
            <img src="/images/Logo.png">
    </header>
    
    <div class="container-fluid products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Crea tu usuario!</h2>
			</div>
        </div>
        <div class="col-12 formulario">
			<form action="/product/create" method="POST">
				<div class="row product-detail">
					<div class="col-12 col-md-6 ">
						<label for="exampleFormControlInput1">Nombre del producto</label>
              <input type="tex" class="form-control" id="exampleFormControlInput1" placeholder="Nombre del producto">
                    </div>
                    <div class="col-12 col-md-6 ">
						<label for="exampleFormControlSelect1">Categoria</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Electronica</option>
                <option>Moda</option>
                <option>Hogar</option>
                <option>Inmuebles</option>
                <option>Bazar</option>
              </select>
					</div>
					<div class="col-12 col-md-6 ">
						<label for="exampleFormControlSelect2">SubCategoria</label>
              <select multiple class="form-control" id="exampleFormControlSelect2">
                <option>Dependiendo la cat</option>
                <option>Dependiendo la cat</option>
                <option>Dependiendo la cat</option>
                <option>Dependiendo la cat</option>
                <option>Dependiendo la cat</option>
              </select>
					</div>
					<div class="col-12 col-md-6 ">
						<label for="exampleFormControlTextarea1">Descripcion del producto</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
					</div>
					<div class="col-12 col-md-6 ">
						<h1>Cargar Foto</h1>
            <figure class="product-box_image">
                <img src="/images/logo-1.JPG" alt="imagen de producto" class= "foto-carga">
            </figure>
                    </div>
					<div class="col-12 col-md-6 ">
						<div class="precioProduct">
              <h1>Precio del producto</h1>
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PESOS</button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">US</a>
                      <a class="dropdown-item" href="#">EUROS</a>
                      <a class="dropdown-item" href="#">TARJETA</a>
                    </div>
                  </div>
                  <input type="number" class="form-control" aria-label="Text input with dropdown button">
                </div>
  
          </div>
            
          </div>
        
					<div class="col-12">
						<button type="submit" class="buy-now-button">cargar producto</button>
					</div>
				</div>
			</form>
		</div>

	</div>

	


</body>

<footer class="main-footer" id="mainfot">
  <div class="container">
    <div class="row">
      <div class="col-1" ></div>
     
      <div class="col-4" id="mailfooter">
        <article class="footer-data" id="contacto">
          <i class="fa fa-envelope-open" aria-hidden="true" id="sobre"></i>
          <h2>Contacto</h2>
          <p>Mail</p>	
        </article>
      </div>
      <div class="col-3" ></div>
      <div class="col-4">
        <article class="footer-data" >
          <img src="/images/Logo-completo.png" id="fotofooter">  
        </article>
      </div>
      
      </div>
    </div>
  </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</html>