<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swapper</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
    crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>



  
<body>
  <header>
  <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark "style="background-color: #ef4a22;">
  
    
      <img src="/images/Logo.png">
      <img src="/images/Logo.png">
    
      <form class="form-inline my-2 my-lg-0" id="navBarSearchForm">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <ul class="navbar-nav " id="noticon" >
        <li class="nav-item" >
          <a class="nav-link" href="#">
            <i class="fa fa-bell">
              <span class="badge badge-info">11</span>
            </i>
            Notification
          </a>
        </li>
      </ul>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">
            <i class='fa fa-user-circle'></i>
            Profile
            <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-envelope-o">
              <span class="badge badge-danger">5</span>
            </i>
            Messages
          </a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-tags" aria-hidden="true"></i>
            Category
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Electronic</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Home</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Cloth</a>
          </div>
        </li>
      </ul>
      <!--<form class="form-inline my-2 my-lg-0" id="navBarSearchForm">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <ul class="navbar-nav " id="noticon" >
        <li class="nav-item" >
          <a class="nav-link" href="#">
            <i class="fa fa-bell">
              <span class="badge badge-info">11</span>
            </i>
            Notification
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-globe">
              <span class="badge badge-success">11</span>
            </i>
            Test
          </a>
        </li>-->
      </ul>
    </div>
  </nav>
  </header>


  <sider>
    <div class= "container-fluid-sider">
     <div class="row">
      <div class="col-12 col-md-12 col-lg-12" id="Columna-swapp">
        <h2 class="swapp">
          Swapp
        </h2>
      </div>
    </div>
    
    <!--MATCHES-->
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12" id="Columna-matches">
        <div class="col-12 col-lg-6" id="matches" >
          <section class="product-box">
            <a href='' >
              <figure class="product-box_image">
                <img src="/images/logo-1.JPG" alt="imagen de producto" class= "foto-matches">
              </figure>
              <article class="product-box_data">
                <p>Descripcion</p>
              </article>
            </a>
          </section>
        </div>
        <div class="col-12 col-lg-6" id=matches>
          <section class="product-box">
            <a href='' >
              <figure class="product-box_image">
                <img src="/images/logo-1.JPG" alt="imagen de producto" class= "foto-matches">
              </figure>
              <article class="product-box_data">
                <p>descripcion</p>
              </article>
            </a>
          </section>
        </div>
        <div class="col-12 col-lg-6" id=matches>
          <section class="product-box">
            <a href='' >
              <figure class="product-box_image">
                <img src="/images/logo-1.JPG" alt="imagen de producto" class= "foto-matches">
              </figure>
              <article class="product-box_data">
                <p>descripcion</p>
              </article>
            </a>
          </section>
        </div>
        <div class="col-12 col-lg-6" id=matches>
          <section class="product-box">
            <a href='' >
              <figure class="product-box_image">
                <img src="/images/logo-1.JPG" alt="imagen de producto" class= "foto-matches">
              </figure>
              <article class="product-box_data">
                <p>descripcion</p>
              </article>
            </a>
          </section>
        </div>
        <div class="col-12 col-lg-6" id=matches>
          <section class="product-box">
            <a href='' >
              <figure class="product-box_image">
                <img src="/images/logo-1.JPG" alt="imagen de producto" class= "foto-matches">
              </figure>
              <article class="product-box_data">
                <p>descripcion</p>
              </article>
            </a>
          </section>
        </div>
        <div class="col-12 col-lg-6" id=matches>
          <section class="product-box">
            <a href='' >
              <figure class="product-box_image">
                <img src="/images/logo-1.JPG" alt="imagen de producto" class= "foto-matches">
              </figure>
              <article class="product-box_data">
                <p>descripcion</p>
              </article>
            </a>
          </section>
        </div>
      </div>

      </div>
  
    </div>
   
  </div>
  
</sider>
 


<footer class="main-footer" id="mainfot">
  <div class="container">
      <div class="row">
        <div class="col-1" ></div>
       
          <div class="col-5" id="mailfooter">
              <article class="footer-data" >
                <i class="fa fa-envelope-open" aria-hidden="true"></i>
                  <h2>Contacto</h2>
                  <p>Mail</p>	
              </article>
          </div>
          <div class="col-6">
              <article class="footer-data" >
                  <img src="/images/Logo.png" id="fotofooter">  
              </article>
          </div>
          
          </div>
      </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>