<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head')  %>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<body class="fondo">

<!-- ---------------HEADER------------------- -->

<!-- ---------------HEADER------------------- -->  

<!-- ---------------FORMULARIO INICIO SESION------------------- -->
<div class="wrapper fadeInDown">
	
	<div id="formContent">
	  <!-- Tabs Titles -->
  
	  <!-- Icon -->
	  <div class="fadeIn first">
		<img src="/images/logo-gif.gif" id="icon" alt="User Icon" >
	  </div>


  

	  <!-- Login Form -->
	  <form action="/" method="POST">
<% if (typeof errors != 'undefined'){%>
	<% errors.forEach(error => {%>
	<p> <%= error.msg %> </p>
 <%})%>
<%}%>

		<input type="text" id="usuario_email" class="fadeIn second" name="usuario_email" placeholder="Email">
		<input type="password" id="usuario_contrase単a1" class="fadeIn second" name="usuario_contrase単a1" placeholder="Contrase単a">
		<input href = "/products" type="submit" class="fadeIn second" value="Log In">
		<label for="">Recordame</label>
		<input type ="checkbox" name="recordame" style ="width: 30px; vertical-align: middle;" id= "recordame">
	  </form>
  
	  <!-- Remind Password -->
	  <div id="formFooter">
		<a class="underlineHover" href="#" style="color: grey;">Olvidaste tu Contrase単a?</a>
		<br>
		<a class="underlineHover" href="/register" style="color: grey;">Crear Usuario</a>
	  </div>
  
	</div>

  </div>


<!-- ---------------FORMULARIO INICIO SESION------------------- -->

<!-- ------------FOOTER------------ -->
<%- include('./partials/footer')  %> 
<!-- ------------FOOTER------------- -->

</body>
</html>