<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracion</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
    crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body class="fondo">
    <header>
        <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark "style="background-color: #ef4a22;">
            <img src="/images/Logo.png">
    </header>
    
    <div class="container-fluid products-wrapper"id="log">
		<div class="row">
			<div class="col-12">
				<h2 class="login-title">Log in</h2>
			</div>
        </div>
        <div class="col-12 formulario" id="loginform">
			<form action="/product/create" method="POST">
				<div class="row product-detail" id="log2">
					
					<div class="col-12 ">
						<label for="username" class="form-label">Nombre de usuario:</label>
						<input type="text" id="username" name="username" class="form-input">
					</div>
					
					<div class="col-12  ">
						<label for="email" class="form-label">Email:</label>
						<input type="email" id="email" name="email" class="form-input">
					</div>
				
					<div class="col-12">
						<div class="d-flex">
						<div class="p-2 ">
						<button type="submit" class="buy-now-button">Log in</button>
						</div>
						<div class="p-2 ml-auto">
						<button type="submit" class="buy-now-button" id="crearuser">Crear usuario</button>
					</div>
				</div>
					</div>
				</div>
			</form>
		</div>

	</div>

	


</body>

<footer class="main-footer" id="mainfot">
	<div class="container">
		<div class="row">
		  <div class="col-1" ></div>
		 
			<div class="col-5" id="mailfooter">
				<article class="footer-data" id="contacto">
				  <i class="fa fa-envelope-open" aria-hidden="true" id="sobre"></i>
					<h2>Contacto</h2>
					<p>Mail</p>	
				</article>
			</div>
			<div class="col-3" ></div>
			<div class="col-3">
				<article class="footer-data" >
					<img src="/images/Logo-completo.png" id="fotofooter">  
				</article>
			</div>
			
			</div>
		</div>
	</div>
  </footer>

</html>