<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head')  %>
<body class="fondo">

<!-- ---------------HEADER------------------- -->
    <header>
        <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark "style="background-color: #ef4a22;">
            <img src="/images/Logo.png">
    </header>

<!-- ---------------HEADER------------------- -->  

<!-- ---------------FORMULARIO INICIO SESION------------------- -->

    <div class="col-lg-6 container-fluid products-wrapper" >
		<div class="row">
			<div class="col-12 " id="log2" style="background-color: white;border-radius: 20px;padding: 10px;margin-bottom: 10px;">
				<h2 style="text-align: center;">Log in</h2>
			</div>
        </div>
        <div class="col-12 formulario" id="loginform">
			<form action="/product/create" method="POST">
				<div class="row product-detail" id="log2">
					
					<div class="col-12 ">
						<label for="username" class="form-label">Nombre de usuario:</label>
						<input type="text" id="username" name="username" class="form-input">
					</div>
					
					<div class="col-12  ">
						<label for="email" class="form-label">Contraseña:</label>
						<input type="password" id="password" name="password" class="form-input">
					</div>
				
					<div class="col-12">
						<div class="d-flex">
						<div class="p-2 ">
						<button type="submit" class="btn btn-outline-primary">Log in</button>
						</div>
						<div class="p-2 ml-auto">
						<button type="submit" class="btn btn-outline-secondary" id="crearuser">Crear usuario</button>
					</div>
				</div>
					</div>
				</div>
			</form>
		</div>

  </div>
  
<!-- ---------------FORMULARIO INICIO SESION------------------- -->

<!-- ------------FOOTER------------ -->
<%- include('./partials/footer')  %> 
<!-- ------------FOOTER------------- -->

</body>
</html>