<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head')  %>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<body class="fondo">

<!-- ---------------HEADER------------------- -->

<!-- ---------------HEADER------------------- -->  

<!-- ---------------FORMULARIO INICIO SESION------------------- -->
<div class="wrapper fadeInDown">
	
	<div id="formContent">
	  <!-- Tabs Titles -->
  
	  <!-- Icon -->
	  <div class="fadeIn first">
		<img src="/images/logo-gif.gif" id="icon" alt="User Icon" >
	  </div>
  
	  <!-- Login Form -->
	  <form action="/">
		<input type="text" id="email" class="fadeIn second" name="usuario_email" placeholder="Email">
		<input type="text" id="password" class="fadeIn second" name="usuario_contraseña1" placeholder="Contraseña">
		<input type="submit" class="fadeIn second" value="Log In">
	  </form>
  
	  <!-- Remind Passowrd -->
	  <div id="formFooter">
		<a class="underlineHover" href="#" style="color: grey;">Olvidaste tu Contraseña?</a>
		<br>
		<a class="underlineHover" href="/register" style="color: grey;">Crear Usuario</a>
	  </div>
  
	</div>

  </div>


<!-- ---------------FORMULARIO INICIO SESION------------------- -->

<!-- ------------FOOTER------------ -->

<!-- ------------FOOTER------------- -->

</body>
</html>