<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head')  %> 

<body class="fondo">

<!-- ------------HEADER------------- -->	
    <header>
        <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark "style="background-color: #ef4a22;">
            <img src="/images/Logo.png">
    </header>
<!-- ------------HEADER------------- -->
	
<!-- ------------FORMULARIO CARGA USUARIO------------- -->

    <div class="container-fluid products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Crea tu usuario!</h2>
			</div>
        </div>
        <div class="col-12 formulario" id='create-user'>
			<form action="/product/create" method="POST">
				<div class="row product-detail">
					<div class="col-12 col-md-6 ">
						<label for="name" class="form-label">Nombre completo: </label>
						<input type="text" id="name" name="name" class="form-input">
                    </div>
                    <div class="col-12 col-md-6 ">
						<label for="dni" class="form-label">DNI: </label>
						<input type="text" id="dni" name="dni" class="form-input">
					</div>
					<div class="col-12 col-md-6 ">
						<label for="username" class="form-label">Nombre de usuario:</label>
						<input type="text" id="username" name="username" class="form-input">
					</div>
					<div class="col-12 col-md-6 ">
						<label for="email" class="form-label">Email:</label>
						<input type="email" id="email" name="email" class="form-input">
					</div>
					<div class="col-12 col-md-6 ">
						<label for="password" class="form-label">Contraseña:</label>
                        <input type="password" id="password" name="password" class="form-input">
                    </div>
					<div class="col-12 col-md-6 ">
						<label for="password2" class="form-label">Reescribir contraseña:</label>
						<input type="password" name="password2" id="password2" class="form-input">
					</div>
					<div class="col-12">
						<button type="submit" class="btn btn-success">Crear usuario</button>
					</div>
				</div>
			</form>
		</div>
	</div>

<!-- ------------FORMULARIO CARGA USUARIO------------- -->

<!-- ------------FOOTER------------ -->
<%- include('./partials/footer')  %> 
<!-- ------------FOOTER------------- -->
</body>
</html>