<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head')  %> 
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<body class="fondo">


<!-- ------------HEADER------------- -->	
    
<!-- ------------HEADER------------- -->
	
<!-- ------------FORMULARIO CARGA USUARIO------------- -->

<div class="wrapper fadeInDown">
	
	<div id="formContent">
	  <!-- Tabs Titles -->
  
	  <!-- Icon -->
	  <div class="fadeIn first">
		<img src="/images/logo-nar.png" id="icon" alt="User Icon" >
	  </div>
  
	  <!-- Login Form -->
	  <form action="/product/create" method="POST">
		<input type="text" id="Nombre completo" class="fadeIn second" name="Nombre completo" placeholder="Nombre completo">
		<input type="text" id="email" class="fadeIn third" name="email" placeholder="email">
		<input type="text" id="username" class="fadeIn second" name="username" placeholder="username">
		<input type="text" id="codigo-postal" class="fadeIn second" name="codigo-postal" placeholder="codigo postal">
		<input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
		<input type="text" id="password" class="fadeIn third" name="password" placeholder="Repeat password">
		<br>
		<br>


		<input type="submit" class="fadeIn fourth" value="Crear Usuario">
	  </form>
  
	  <!-- Remind Passowrd -->
	  <!--<div id="formFooter">
		<h2>Crea tu usuario</h2>
	  </div>-->
  
	</div>

  </div>


<!-- ------------FORMULARIO CARGA USUARIO------------- -->

<!-- ------------FOOTER------------ -->

<!-- ------------FOOTER------------- -->
</body>
</html>