<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head')  %> 
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<body class="fondo">


<!-- ------------HEADER------------- -->	
    
<!-- ------------HEADER------------- -->
	
<!-- ------------FORMULARIO CARGA USUARIO------------- -->

<div class="wrapper fadeInDown">
	
	<div id="formContent">
	  <!-- ICONO -->
	  <div class="fadeIn first">
		<img src="/images/logo-nar.png" id="icon" alt="User Icon" >
	  </div>
  
	  <!-- REGISTER FORM -->
	  <form action="/register" method="POST" enctype="multipart/form-data">
		<input type="text" id="usuario_nombre" class="fadeIn second" name="usuario_nombre" placeholder="Nombre completo">
		<input type='text' id="usuario_dni" class="fadeIn second" name ="usuario_dni" placeholder="Numero de DNI">
		<input type="text" id="usuario_tag" class="fadeIn second" name="usuario_tag" placeholder="Nombre Usuario">
		<input type="text" id="usuario_email" class="fadeIn third" name="usuario_email" placeholder="Email">
		<input type="password" id="usuario_contraseña1" class="fadeIn third" name="usuario_contraseña1" placeholder="Contraseña">
		<input type="password" id="usuario_contraseña2" class="fadeIn third" name="usuario_contraseña2" placeholder="Repetir Contraseña">
        <input type="file" name="avatar">
		<input type="submit" class="fadeIn fourth" value="Crear Usuario">
	  </form>
  
	  <!-- Remind Passowrd -->
	  <!--<div id="formFooter">
		<h2>Crea tu usuario</h2>
	  </div>-->
  
	</div>

  </div>

<!-- ------------FORMULARIO CARGA USUARIO------------- -->

<!-- ------------FOOTER------------ -->

<!-- ------------FOOTER------------- -->
</body>
</html>